{% extends 'pokemons/basePokemon.html.twig' %}
{% block body %}

    {% for message in app.flashes("success") %}
    <p>{{ message}}</p>
    {% endfor %}

	{{form_start(pokemonForm) }}
	{{ form_widget(pokemonForm)}}
	<button type="submit">Añadir</button>
	{{ form_end(pokemonForm)}}

{% endblock %}
