{% extends 'pokemons/basePokemon.html.twig' %}
{% block body %}

    {% for message in app.flashes("success") %}
    <p>{{ message}}</p>
    {% endfor %}

	{{form_start(userForm) }}
	{{ form_widget(userForm)}}
	<button type="submit">Añadir</button>
	{{ form_end(userForm)}}

{% endblock %}
